/* import all fonts */
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;500;600&family=Roboto+Condensed:wght@300;400;500;600;700&family=Teko:wght@300;400;500;600&display=swap');

:root {
  /* Backgroungs */
  --usr-bg: #D7EBFC;
  --admin-bg: #F1D394;
  /* Navbar */
  --nav-text-family: Roboto Condensed;
  --nav-text-size: 1.2rem;
  --nav-text-weight: 600;
  --nav-text-color: #000;
  --usr-nav-text-color-hover: #E9B74E;
  --admin-nav-text-color-hover: #0A316C;
  /* Logo */
  --logo-family: Teko;
  --logo-size: 2rem;
  --logo-weight: 600;
  --logo-color: #000000;
  /* Title */
  --title-family: Roboto Condensed;
  --title-size: 2.2rem;
  --title-weight: 700;
  /* Text */
  --text-family: Dosis;
  --text-size: 1rem;
  --text-weight: 400;
}

body {
  display: block;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.title {
  font-family: var(--title-family);
  font-size: var(--title-size);
  font-weight: var(--title-weight);
  padding: 2rem 0;
  text-align: center;
}

.title2 {
  font-family: var(--title-family);
  font-size: 1.8rem;
  font-weight: 500;
  padding: 2rem 0;
  text-align: center;
}

.text {
  font-family: var(--text-family);
  font-size: var(--text-size);
  font-weight: var(--text-weight);
  padding: 1rem 0;
  text-align: center;
}

.user {
  /* Background color for user-specific navigation */
  background-color: var(--usr-bg);
}

/* Styles for the admin-specific navigation */
.admin {
  /* Background color for admin-specific navigation */
  background-color: var(--admin-bg);
}