/* import all fonts */
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;500;600&family=Roboto+Condensed:wght@300;400;500;600;700&family=Teko:wght@300;400;500;600&display=swap');

body{
  padding: 0;
  margin: 0;
}

h1{
  font-family: 'Teko', sans-serif;
  font-weight: 500;
}

.authentification-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: auto;
  padding: 10px;
  width: 450px;
  background-color: yellow;
  font-family: Dosis;
  font-size: medium;
  font-weight: 400;

}