/* import all fonts */
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;500;600&family=Roboto+Condensed:wght@300;400;500;600;700&family=Teko:wght@300;400;500;600&display=swap');

:root{
  --title-family: Roboto Condensed;
  --title-size: 2.2rem;
  --title-weight: 700
}
body{
  padding: 0;
  margin: 0;
}