/* Styles for the search bar */
.directory-container {
  /* Text  */
  font-family: var(--text-family);
  font-size: var(--text-size);
  font-weight: var(--text-weight);
  /* Display page */
  display: block;
  width: 80%;
  margin: auto;
}

.order-container {
  /* Text  */
  font-family: var(--text-family);
  font-size: var(--text-size);
  font-weight: var(--text-weight);
  /* Display page */
  display: block;
  width: 80%;
  margin: auto;
}

.line-container {
  /* Use flexbox */
  display: flex;
  /* Align items vertically in the center */
  align-items: center;
  margin-bottom: 1rem;
}

.searchbar-container {
  flex: 1
}

.searchbar {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 5px;
}

.searchbar.user {
  background-color: #D7EBFC;
}

.searchbar.admin {
  background-color: #F1D394;
}


.add-user-button {
  margin: 0;
}

/* Styles for the table */
.table-container {
  border: 1px solid #0D3E87;
  border-collapse: collapse;
  width: 100%;
}

/* Styles for the table header */
.table-head-container.user {
  background-color: #0D3E87;
  color: #D7EBFC;
}

.table-head-container.user th:hover {
  background-color: #F1D394;
  color: black;
}

/* Styles for the table body for user */
.table-body-container.user {
  background-color: #D7EBFC;
}

/* Styles for table rows on hover */
.table-body-container.user tr:hover {
  background-color: #F1D394;
}

/* Styles for the table header */
.table-head-container.admin {
  background-color: #5D491F;
  color: #F1D394;
}

.table-head-container.admin th:hover {
  background-color: #0D3E87;
  color: #D7EBFC;
}

/* Styles for the table body for admin */
.table-body-container.admin {
  background-color: #F1D394;
}

/* Styles for table rows on hover for admin */
.table-body-container.admin tr:hover {
  background-color: #D7EBFC;
}

/* Styles for table cells */
td {
  padding: 8px;
  /* Add borders between cells */
  border: 1px solid #0D3E87;
}

.table-link {
  text-decoration: none;
  color: black;
}