/* CSS for UserProfil component */
.user-form-container {
  background-color: var(--usr-bg);
  display: flex;
  flex-direction: column;
  /* Change to column direction */
  align-items: center;
  width: 50%;
  margin: 5rem auto auto auto;
  padding-bottom: 1rem;
}

.information-container {
  font-family: var(--text-family);
  font-size: var(--text-size);
  font-weight: var(--text-weight);
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  /* Center items horizontally */
  max-width: 600px;
  /* Set maximum width */
}

.information {
  display: flex;
  flex-wrap: wrap;
  /* Allow keys and values to wrap */
  justify-content: center;
  margin-bottom: 10px;
  align-items: center;
  /* Center items horizontally */
  width: 100%;
}

.key-container {
  text-align: left;
}

.value-container {
  text-align: left;
  /* Align values to the left */
  margin-left: 60px;
  /* Add right margin for spacing */
}

.button-container {
  width: 100%;
  /* Ensure button container takes full width */
  display: flex;
  margin-top: 1rem;
  margin-bottom: 20px;
  justify-content: center;
  /* Center the button horizontally */
}