.user-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--login-bg);
    border-radius: 5px;
    margin: auto;
    margin-top: 5rem;
    padding: 1rem;
    width: 30rem;
    background-color: var(--login-bg);
}

.title {
    font-family: var(--title-family);
    font-size: var(--title-size);
    font-weight: var(--title-weight);
    margin: 2rem;
    padding: 1rem;
    background-color: var(--login-bg);
}

.info-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0.5rem 0; 
    padding: 0; 
}

.info-container > strong {
    flex: 1; 
    text-align: right; 
    margin-right: 1rem; 
}

.info-container > span {
    flex: 2; 
    text-align: left; 
}