.user-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    font-family: var(--title-family);
    font-size: var(--title-size);
    font-weight: var(--title-weight);
    margin: 2rem;
    padding: 1rem;
}